{% extends "layout.html" %}
{% load humanize %}
{% load staticfiles %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="container">
                <h1>Open Contracts</h1>
                <table class="table table-dark table-hover table-striped">
                    <tr>
                        <th>Contract ID</th>
                        <th>Name</th>
                        <th>Budget</th>
                        <th>Remaining Budget</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                    </tr>
                    {% for contract in contracts %}
                        <tr>
                            <td>{{ contract.CID }}</td>
                            <td>{{ contract.CName }}</td>
                            <td>{{ contract.CBudget|intcomma }}</td>
                            <td>{{ contract.remainingBudget|intcomma }}</td>
                            <td>{{ contract.CStart }}</td>
                            <td>{{ contract.CEnd }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div> 
{% endblock content %}
