{% extends "layout.html" %}
{% load staticfiles %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                    <a href="https://www.accuweather.com/en/us/colorado-springs-co/80903/current-weather/327351" class="aw-widget-legal">
                        </a><div id="awtd1523076578678" class="aw-widget-36hour" align="center" data-locationkey="327351" data-unit="f" data-language="en-us" data-useip="false" data-uid="awtd1523076578678" data-editlocation="true"></div><script type="text/javascript" src="https://oap.accuweather.com/launch.js" ></script>            </div>
<!--                         <iframe src="https://weatherfor.us/widget?" scrolling="no" frameborder="0" allowtransparency="true" style="background: transparent; margin-left: 90px; width: 720px; height: 250px; overflow: hidden;"></iframe>
 -->        </div>
    </div>
{% endblock content %}