{% extends "layout.html" %}
{% load static %}

{% block content %}
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="container bck">
        <div class="row">
            <div class="col-12">
                <h1>Welcome to the Purchase Management System</h1>
                <p>
                Our project purchasing system allows employees to submit purchase order forms. It filters orders based on 3 price-tier levels, and sends notifications to the appropriate people. If the order item is less than $ 50 then no approval is needed, if the item is in the range from $50-500 then, Brian will approve it, and if it is more than $500, then Bill will approve the ordered item.  The system tracks how much budget has been spent, and how much remains. Our database will also store all records so they can be reviewed at any time. Ideally, this site will be hosted on Microsoft Azure and with a PostgreSQL database.  The site is built on Django, which is a Python MTV web framework.
                    
                </p>
                <p>We hope you enjoy the new system.</p>
            </div>
    </div>
{% endblock content %}
