{% extends "layout.html" %}
{% load staticfiles %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="container">
                <h1>My Order Requests</h1>
                    <table class="table table-dark table-hover table-striped">
                        <tr>
                            <th>Order ID</th>
                            <th>Product Name</th>
                            <th>Description</th>
                            <th>Quantity</th>
                            <th>Total Cost</th>
                            <th>Date Approved</th>
                            <th>Quotes</th>
                        </tr>
                {% for order in orders %}
                        <div id="accordion" style="display: none;">
                            <div class="card">
                            <div class="card-header" id="headingOne">
                                <tr>
                                    <td>{{ order.OID }}</td>
                                    <td>{{ order.productName }}</td>
                                    <td>{{ order.productDescription }}</td>
                                    <td>{{ order.quantity }}</td>
                                    <td>{{ order.total }}</td>
                                    <td>{{ order.dateApproved }}</td>
                                    <td>
                                        <h5 class="mb-0">
                                            <button id="quote-button-{{ forloop.counter0 }}" onClick="toggleQuoteRow(this.id)" class="btn btn-info btn-sm collapsed" data-toggle="collapse" data-target="#collapse{{ forloop.counter0 }}" aria-expanded="false" aria-controls="collapseOne">
                                                See Quotes 
                                            </button>
                                        </h5>
                                    </td>
                                </tr>
                                <tr id="quote-row-{{ forloop.counter0 }}" class="hidden">
                                    <td colspan="7" class="nested-td">
                                        <div id="collapse{{ forloop.counter0 }}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                            <div class="card-body">
                                                <h1>Quotes for Order ID: {{ order.OID }}</h1>
                                                <table class="nested-table table-dark">
                                                    <tr>
                                                        <th>QID</th>
                                                        <th>Supplier</th>
                                                        <th>Price</th>
                                                        <th>Link</th>
                                                    </tr>
                                                {% for q in myquoteorders %}
                                                    {% if q.OID == order.OID %}
                                                        <tr>
                                                            <td>{{ q.quoteorder__QID }}</td>
                                                            <td>{{ q.quoteorder__Supplier }}</td>
                                                            <td>{{ q.quoteorder__QPrice }}</td>
                                                            <td>{{ q.quoteorder__QLink }}</td>
                                                        </tr>
                                                    {% endif %}
                                                {% endfor %}
                                                </table>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </div>
                            </div>
                        </div>
                {% endfor %}
                    </table>
                <!-- <br> <br>
                <h1>My Quotes</h1>
                <table class="table table-dark table-hover table-striped">
                    <tr>
                        <th>Order ID</th>
                        <th>Supplier</th>
                        <th>Price</th>
                        <th>Suppliers Link</th>
                    </tr>
            {% for quote in myquotes %}
                    <tr>
                        <td>{{ quote.OID }}</td>
                        <td>{{ quote.Supplier }}</td>
                        <td>{{ quote.QPrice }}</td>
                        <td>{{ quote.QLink }}</td>
                    </tr>
            {% endfor %}
                </table> -->
            </div>
        </div>
    </div>
{% endblock content %}
