{% extends "layout.html" %}
{% load staticfiles %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="container">
                <h1>My Order Requests</h1>
                    <table class="table table-dark table-hover table-striped">
                        <tr>
                            <th>Order ID</th>
                            <th>Product Name</th>
                            <th>Description</th>
                            <th>Quantity</th>
                            <th>Total Cost</th>
                            <th>Date Approved</th>
                        </tr>
                {% for order in myorders %}
                        <tr>
                            <td>{{ order.OID }}</td>
                            <td>{{ order.productName }}</td>
                            <td>{{ order.productDescription }}</td>
                            <td>{{ order.quantity }}</td>
                            <td>{{ order.total }}</td>
                            <td>{{ order.dateApproved }}</td>
                        </tr>
                    </table>
                {% endfor %}
                <br> <br>
                <h1>My Quotes</h1>
                <table class="table table-dark table-hover table-striped">
                    <tr>
                        <th>Order ID</th>
                        <th>Supplier</th>
                        <th>Price</th>
                        <th>Suppliers Link</th>
                    </tr>
            {% for quote in myquotes %}
                    <tr>
                        <td>{{ quote.OID }}</td>
                        <td>{{ quote.Supplier }}</td>
                        <td>{{ quote.QPrice }}</td>
                        <td>{{ quote.QLink }}</td>
                    </tr>
                </table>
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}
