{% extends "layout.html" %}
{% load staticfiles %}
{% load bootstrap4 %}

{% block content %}
    <div class="container">
                <form id="order-form" method="POST" action={% url 'order' %}>
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-2">
                                {% bootstrap_field purchase_form.orderDate %} 
                                {% bootstrap_field purchase_form.CID %}
                        </div>
                        <div class="col-lg-2">
                                {% bootstrap_field purchase_form.productName %}
                                {% bootstrap_field purchase_form.productDescription %}
                                {% bootstrap_field quote_form.Supplier %}                       
                        </div>
                        <div class="col-lg-3">
                                {% bootstrap_field quote_form.QPrice %}
                                {% bootstrap_field purchase_form.quantity %}   
                                {% bootstrap_field quote_form.QLink %}
                        </div>
                        <div class="col-lg-3">
                                {% bootstrap_field purchase_form.addressLine1 %}
                                {% bootstrap_field purchase_form.addressLine2 %}
                                {% bootstrap_field purchase_form.phoneNumber %}
                                
                        </div>
                        <div class="col-lg-2">
                                {% bootstrap_field purchase_form.city %}
                                {% bootstrap_field purchase_form.state %}
                                {% bootstrap_field purchase_form.zipCode %}
                                <br>
                                <button type="reset" value="Clear" class="btn btn-danger">Reset</button>
                                <button type="submit" value="Submit" class="btn btn-primary" style="float: right;">Submit</button>
                        </div>
                    </div>
                    <!--{% bootstrap_form purchase_form %}
                    {% bootstrap_form quote_form %}-->
                    <!-- {% if total > 500 %}
                        {% bootstrap_form quote_form_2 %}
                        {% bootstrap_form quote_form_3 %}
                    {% endif %} -->
                </form>
    </div>
{% endblock content %}