{% load staticfiles %}

<div class="jumbotron jumbotron-fluid" style="padding-bottom: 0;">
  <div class="container" style="color: black;">
      <div class="row">
          <!-- <div class="col-2" style="background: white;">
              <img src="{% static 'images/AM.png' %}" style="width: 100%;" alt="Allied Mountain Logo"/>
          </div> -->
          <div class="col-10">
              <h1 class="display-4">Allied Mountain PMS</h1>
              <p class="lead">Track and place order requests</p>
          </div>
      </div>
  </div> 
  {% if user.is_authenticated %}
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="http://127.0.0.1:8000/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/main/order">Order</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/main/contract">Contracts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/main/myorders">My Orders</a>
        </li>
      </ul>

        <ul class="navbar-nav mr-auto" style="display: flex; float: right; margin-right: 0 !important;">
          {% if user.is_superuser %}
          <li class="nav-item">
            <a class="nav-link" href="http://127.0.0.1:8000/main/reports">Reports</a>
          </li>
          {% endif %}
          {% if user.is_staff %}
          <li class="nav-item">
            <a class="nav-link" href="http://127.0.0.1:8000/admin">Admin</a>
          </li>
          <!-- <li class="nav-item">
              <a class="nav-link" href="http://127.0.0.1:8000/main/allorders">All Orders </a>
          </li> -->
        </ul>
        {% endif %}
      <!--<div>
        <button id="logout" class="btn btn-warning"><a href="/logout">Sign Out</a></button>
      </div>-->
      <a href="/logout" class="btn btn-warning btn-md">
          <span class="glyphicon glyphicon-log-out"></span> Sign out
        </a>
    </div>
  </nav>
  {% endif %}
</div>
