@import 'typography';
@import 'tables';

body {
    background: black;
    background-image: url('../../images/bck.jpeg');
    color: white;
}

#login {
    background: white;
    color: black;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid white;
    box-shadow: 10px 10px 18px orange;
}


.active {
    color: black;
}
